.entry .dropdown.lightdrop.rgo-dropdown  {
    padding-bottom: 10px;
}

.entry .dropdown.lightdrop.rgo-dropdown:hover + .drop-choices,
.entry .dropdown.lightdrop.rgo-dropdown + .drop-choices:hover {
    display: inherit;
    line-height: unset;
}

.entry .dropdown.lightdrop.rgo-dropdown + .drop-choices {
    left: inherit;
    z-index: 99999;
}

.entry .dropdown.lightdrop.rgo-qf-dropdown  {
    padding-bottom: 10px;
}

.entry .dropdown.lightdrop.rgo-qf-dropdown:hover + .drop-choices,
.entry .dropdown.lightdrop.rgo-qf-dropdown + .drop-choices:hover {
    display: inherit;
    line-height: unset;
}

.entry .dropdown.lightdrop.rgo-qf-dropdown + .drop-choices {
    left: inherit;
    z-index: 99999;
}

#ruleText {
    width: 625px;
    height: 85px;
    border: 3px solid #cccccc;
    padding: 5px;
    margin-left: 20px;
    font-family: Tahoma, sans-serif;
    display: none;
}

.getSaltBtn button {
    border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
    background-image: -webkit-linear-gradient(top, #4ba614, #008c00) !important;
    background-image: -moz-linear-gradient(top, #4ba614, #008c00) !important;
    background-image: -ms-linear-gradient(top, #4ba614, #008c00) !important;
    background-image: -o-linear-gradient(top, #4ba614, #008c00) !important;
    background-image: linear-gradient(to bottom, #4ba614, #008c00) !important;
}

.cancelBtn button {
    border:1px solid #ff6262; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #ff9a9a; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
    background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
}